<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Archived applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our advices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My actions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="text-dark h4 bi bi-plus-circle"></i></a>
                </li>
            </ul>
        </div>
        <div>
            <a class="nav-link" href="#"> <i class="h4 text-dark bi bi-list"></i></a>
        </div>
    </div>
</nav>
<jsm-dashboard-sub-header></jsm-dashboard-sub-header>