<div class="container">
    <h1>You've got the job</h1>

    <p>Congratulations, your application at {{this.application.title}} has been a success.</p>

    <p>This action will put this application on "archived applications"</p>
    <p>You can delete it definitely or restore it later.</p>

    <div class="d-flex justify-content-around">
        <button (click)="this.onConfirm()" mat-raised-button color="primary">Validate</button>
        <button (click)="this.onCancel()" mat-raised-button color="primary">Cancel</button>
    </div>

</div>