<div class="container">
    <h1>Edition of discussion </h1>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="this.discussionEditForm" (ngSubmit)="this.onSubmit()">
                <div class="my-3">
                    <label for="applicationStatus">Status of the application :</label>
                    <select formControlName="type" class="ms-3" id="applicationStatus">
                        <option [selected]="this.discussion.type === 'PHYSICAL_MEETING'" value="PHYSICAL_MEETING">Physical
                            meeting</option>
                        <option [selected]="this.discussion.type === 'MAIL_DISCUSSION'" value="MAIL_DISCUSSION">Mail
                            discussion</option>
                        <option [selected]="this.discussion.type === 'PHONE_MEETING'" value="PHONE_MEETING">Phone meeting
                        </option>
                        <option [selected]="this.discussion.type === 'VISIO_MEETING'" value="VISIO_MEETING">Visio meeting
                        </option>
                    </select>
                </div>
                <div>
                    <mat-form-field class="field field__date" appearance="fill">
                        <mat-label>Date</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <span class="bi bi-calendar2"></span>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="field field__description" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea value="this.discussion.description" formControlName="description"
                            matInput>{{this.discussion.description}}</textarea>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-end">
                    <button mat-dialog-close mat-raised-button color="primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>