<footer class="dashboard__footer mt-5 d-flex justify-content-center">
    <div class="mt-3 me-5">
        <img src="https://via.placeholder.com/200x100" alt="">
    </div>
    <div class="ms-5 mt-3 d-flex flex-column justify-content-center align-items-center footer__credits">
        <p>Made by Alexandre RAVICHANDRAN</p>
        <a href="https://github.com/AlexandreRavichandran/job-search-manager-frontend" target="_blank" class="github__link text-center"><span class="h4 bi bi-github"></span></a>
    </div>
</footer>