<div class="container">
    <h1>You don't have the job</h1>
    <p>Your application at {{this.application.title}}</p>

    <p>This action will put this application on "archived applications"</p>
    <p>You can delete it definitely or restore it later.</p>

    <div class="d-flex justify-content-around">
        <button (click)="this.onConfirm()" mat-raised-button color="primary">Validate</button>
        <button (click)="this.onCancel()" mat-raised-button color="secondary">Cancel</button>
    </div>
</div>