<div class="container">
    <div class="container">
        <jsm-notification-message (closeEvent)="this.onClose()" [closed]="this.closed" [content]="this.content" [type]="this.type"></jsm-notification-message>
    </div>
    <h1>Apply</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor possimus sapiente voluptas. Ad nostrum rerum in
        expedita! Dignissimos fugiat excepturi minima. Ipsa eaque voluptate laboriosam quam ipsum explicabo commodi
        perferendis veniam. Exercitationem quos quod maxime officia aut temporibus mollitia accusamus, nostrum
        repellendus minima provident consectetur unde culpa, illum neque assumenda quae nam non eligendi pariatur totam
        quasi facilis! Voluptatum, totam culpa, accusamus officiis dignissimos et id nam expedita nihil odit impedit
        eum? Delectus fugiat eos et repellendus blanditiis quasi est consectetur quia, voluptatem velit ex aliquid
        tempore totam ipsum accusantium! In facere tempore aperiam a, mollitia voluptate iure explicabo fuga quam
        obcaecati, velit laboriosam ad aut ducimus. Reiciendis quod est molestiae repellendus repudiandae quaerat quos
        dignissimos perspiciatis vitae, excepturi officiis aperiam doloribus, voluptatem obcaecati cupiditate quam iure
        iusto? Assumenda corporis excepturi cupiditate minus, molestias facere veritatis, labore cum porro, quo eligendi
        debitis delectus ratione sed numquam quas laborum architecto pariatur adipisci esse necessitatibus nam
        voluptatibus! Eum harum in unde assumenda error optio sequi nemo. Dolorum ut eos sit quisquam atque. Explicabo
        incidunt, odio minima blanditiis culpa, ipsa temporibus impedit dignissimos vel non quidem provident ullam iure
        porro reiciendis ex distinctio cum? Rem quas quod sequi quasi nesciunt iste minima consectetur quis corrupti
        eligendi nulla ducimus ipsa nam natus vel perspiciatis, libero reprehenderit blanditiis architecto eveniet
        bcaecati. Ducimus consequuntur cumque at architecto alias temporibus tenetur suscipit numquam, itaque qui
        repellendus dicta? Minus veniam vel veritatis eius
        excepturi numquam magnam corporis labore non rem repellat nobis illo odio dolorem sequi natus quos et
        laboriosam, perferendis eum consequuntur nisi quas. Fugit, explicabo! Possimus illum esse numquam dicta.
    </p>

    <div class="d-flex justify-content-around">
        <button (click)="this.onConfirm()" mat-raised-button color="primary">I have applied</button>
        <button (click)="this.onCancel()" mat-raised-button color="secondary">Cancel</button>
    </div>
</div>