<div class="mb-5 activity__item" *ngIf="activity.status !=='GOING_TO_APPLY'">
    <div class="item__header d-flex justify-content-between">
        <div>
            <p>{{this.formatResult()}}</p>
            <p>{{this.formatStatus()}}</p>
        </div>
        <div>
            <p class="mb-0">{{activity.changedAt|date: "shortDate"}}</p>
        </div>
    </div>
    <div>
        <p>{{activity.description}}</p>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-between">
        <div class="action__icons">
            <span class="icons bi bi-pencil me-2"></span>
            <span (click)="this.delete()" class="icons bi bi-trash"></span>
        </div>
    </div>
</div>