.toggle__button {
    font-size: 15px;

    &:hover {
        cursor: pointer;
        color: rgb(113, 113, 238);
    }

    .toggle__button__icon {
        padding: 3px;
        padding-left:5px;
        padding-right:4px;  
        border-radius: 50%;
        background-color: rgb(113, 113, 238);
        color: white;
        font-weight: bold;
    }
}