.discussion__item {
    min-height: 50px;
    padding: 10px;
    .action__icons {
        .icons {
            color: gray;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }
}