<jsm-dashboard-header></jsm-dashboard-header>
<jsm-loader *ngIf="this.loading"></jsm-loader>
<div *ngIf="!this.loading" class="container application">
    <div class="application__header row">
        <div class="col-10">
            <div class="application__edit__form d-flex justify-content-center" *ngIf="this.editMode">
                <jsm-dashboard-application-edit-form (cancelEditingEvent)="this.toggleEditMode()" (updatedApplicationEvent)="this.updateApplication($event)" [editedApplication]="application"></jsm-dashboard-application-edit-form>
            </div>
            <div class="d-flex justify-content-around" *ngIf="!this.editMode">
                <div>
                    <h1>{{application.title}}</h1>
                    <p>Created at {{application.createdAt|date:"shortDate"}}</p>
                </div>
                <div class="mt-4">
                    <span (click)="this.toggleEditMode()" class="application__edit bi bi-pencil"></span>
                </div>
            </div>


        </div>
        <div class="col-2 d-flex flex-column justify-content-center">
            <div class="d-flex mb-4 result">
                <span class="result__icon me-2 bi bi-check-square"></span>
                <p class="result__label mb-0 align-self-center">Success</p>
            </div>
            <div class="d-flex mb-4 result">
                <span class="result__icon me-2 bi bi-question-square"></span>
                <p class="result__label mb-0 align-self-center">No response</p>
            </div>
            <div class="d-flex mb-4 result">
                <span class="result__icon me-2 bi bi-x-square"></span>
                <p class="result__label mb-0 align-self-center">Failed</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-9">
            <h1>Description</h1>
            <p>{{application.description}}</p>
        </div>

        <div class="col-3 d-flex flex-column">
            <div>
                <h1>Activity list</h1>
                <jsm-dashboard-application-activity-list [application]="application"
                    [activityList]="application.activities"></jsm-dashboard-application-activity-list>
            </div>
            <div>
                <h1>My discussions</h1>
                <jsm-dashboard-application-discussion-list [application]="application"
                    [discussionList]="application.discussions"></jsm-dashboard-application-discussion-list>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-9">
            <h1>My notes</h1>
            <jsm-dashboard-application-note-list [application]="application" [noteList]="application.notes">
            </jsm-dashboard-application-note-list>
        </div>
        <div class="col-3">
            <h1>Related files</h1>
        </div>
    </div>
    <div class="application__footer">
        <a (click)="this.delete()" href="">Delete this application</a>

        <a (click)="this.toggleArchive()" class="ms-2" *ngIf="!application.archived" href="">Archive this
            application</a>
        <a (click)="this.toggleArchive()" class="ms-2" *ngIf="application.archived" href="">Restore this application</a>
    </div>

</div>