<jsm-dashboard-header></jsm-dashboard-header>
<div class="container application">
    <div class="application__header row">
        <div class="col-10 d-flex justify-content-around">
            <div>
                <h1>{{application.title}}</h1>
                <p>Created at {{application.createdAt}}</p>
            </div>
            <div class="mt-4">
                <span class="application__edit bi bi-pencil"></span>
            </div>

        </div>
        <div class="col-2 d-flex flex-column justify-content-center">
            <div class="d-flex mb-4 result">
                <span class="result__icon me-2 bi bi-check-square"></span>
                <p class="result__label mb-0 align-self-center">Success</p>
            </div>
            <div class="d-flex mb-4 result">
                <span class="result__icon me-2 bi bi-question-square"></span>
                <p class="result__label mb-0 align-self-center">No response</p>
            </div>
            <div class="d-flex mb-4 result">
                <span class="result__icon me-2 bi bi-x-square"></span>
                <p class="result__label mb-0 align-self-center">Failed</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-9">
            <h1>Description</h1>
            <p>{{application.description}}</p>
        </div>

        <div class="col-3 d-flex flex-column">
            <div>
                <h1>Activity list</h1>
                <jsm-dashboard-application-activity-list [application]="application" [activityList]="application.activities"></jsm-dashboard-application-activity-list>
            </div>
            <div>
                <h1>My discussions</h1>
                <jsm-dashboard-discussion-list [application]="application" [discussionList]="application.discussions"></jsm-dashboard-discussion-list>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-9">
            <h1>My notes</h1>
        </div>
        <div class="col-3">
            <h1>Related files</h1>
        </div>
    </div>
    <div class="application__footer">
        <a href="">Delete this application</a>

        <a class="ms-2" *ngIf="!application.archived" href="">Archive this application</a>
        <a class="ms-2" *ngIf="application.archived" href="">Restore this application</a>
    </div>

</div>